<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gallery is a platform that brings digital art into reality.">
    <meta name="author" content="Saahith Pochiraju, Duncan Cock Foster">
    <meta name="keywords" content="Gallery, Blockchain, Digital Art ">
    <title> Gallery </title>
    <link rel="icon" href="{{url_for('static', filename='images/art.png')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/aos.css')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/aos.js')}}"></script>
    <script src="{{url_for('static', filename='js/truffle-contract.js')}}"></script>
    <script src="{{url_for('static', filename='js/web3.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.stellar.min.js')}}"></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110682568-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110682568-2');
    </script>

</head>


<body>
    {% include 'header.html' %}
    <div class='topper'> </div>
    <div class='overlay'>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <br>
              <div class="row">
                <div class="col-12 flash">
                  {% for category, message in messages %}
                  <div class="alert alert-{{ category }} modern">
                    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                   {{message}}
                  </div>
                  {% endfor %}
                </div>
              </div>
          </br>
        {% endif %}
    {% endwith %}


    <script type=text/javascript>
      $SCRIPT_ROOT = {{request.script_root|tojson|safe }};
    </script>

    <!-- child template -->
    {% block content %}{% endblock %}

    <script>

    AOS.init({
      duration: 1600,
    });

    $(window).on("scroll", function() {
    if($(window).scrollTop() > 50) {
        $(".header").addClass("active");
    } else {
        //remove the background property so it comes transparent again (defined in your css)
       $(".header").removeClass("active");
    }
    });
    </script>

        {% include 'footer.html' %}
    </div>
<!-- scripts -->
    {% block js %}{% endblock %}



</body>

</html>
