<footer class="container-fluid">
    <div class = "row">
        <div class = "col">
            <nav class="bottombar">
                <ul>
                    <li><a href="https://www.instagram.com/visitgallery/"><img class="resize1" src="{{url_for('static', filename='images/ig.png')}}"/></a></li>
                    <li><a href="https://twitter.com/visitgallery?s=07"><img class="resize1" src="{{url_for('static', filename='images/twitter.png')}}"/></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
