<footer>
  <nav class="navbar navbar-expand-sm" style='background-color:#c3e6fa;border-top: 2px solid white'>
    <!-- <div class='pt-sans-white' style='font-size:12px;margin:0px 20%'>Copyright 2018 | All Rights Reserved</div> -->

    <ul class="navbar-nav modern-black flex-sm-column" style='padding:30px'>
      <li class="nav-item" >
        <a class="nav-link"  href='/about' > About </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href='/marketplace' > Marketplace </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  href='/join' > Collect </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href='/faq' > FAQ </a>
      </li>
    </ul>

    <ul class="navbar-nav modern-black flex-sm-column" >
      <li class="nav-item" >
        <a class="nav-link"  href='/about' style='color:blue'> Facebook </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href='/marketplace' style='color:lightblue'> Twitter </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  href='/join' style='color:purple'> Instagram </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  href='/join' style='color:green'> Angel List </a>
      </li>
    </ul>

  </nav>
</footer>
