<header class='row'>
  <nav class="navbar navbar-dark fixed-top navbar-expand-lg navbar-toggleable-sm header">
    <div class="navbar-header"><a class="logo_font" href="/"><img style='width:75px' src="{{url_for('static', filename='images/logo.png')}}" > </a></div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style='font-size:14px'>

        <ul class="navbar-nav center" >
            <li class="nav-item nav-link"><a class="modern-black link-1" href="/marketplace">Marketplace</a></li>
            <li class="nav-item nav-link"><a class="modern-black link-1" href="/demo">Demo</a></li>
        </ul>

          <ul class="navbar-nav ml-auto">
              <li class="nav-item nav-link"><a class="modern-black link-1" href="/about">About</a></li>
              <li class="nav-item nav-link"><a class="modern-black link-1" href="/faq">FAQ</a></li>
          </ul>

    </div>
  </nav>
</header>
