{% extends '_base.html' %}

{% block content %}



{% include 'main/slides/slide1.html' %}

{% include 'main/slides/slide2.html' %}

{% include 'main/slides/slide3.html' %}

<div class='container-fluid slide4' >
    <div class="row" >
        <div class="col-6 mx-auto " >
            <div class='pads-med modern-black-bold' >
                <h1 style='text-align:center'> Smart Canvas </h1>
            </div>
        </div>
    </div>
    <div class="row" style='position:absolute;bottom:0' >
        <div class="col-6" >
            <img data-aos="slide-up" class='resize_ipad' src="{{url_for('static', filename='images/ipad.png')}}" />
        </div>
    </div>
</div>

<div class='container-fluid slide5' >

</div>

<script>
$.stellar();

AOS.init({
  duration: 2000,
});
</script>

{% endblock content %}
