

body, html {
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  height: 100%
}

.overlay{
    width:100%;
    height:500vh;
    overflow:auto;
}
.button {
    background-color: white;
    outline:none;
    border: 1px solid black;
    border-radius: 10px;
    width:150px;
    height:45px;
    padding:5px;

}

button:focus { outline:0 !important; }

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.center{

    position:absolute;
    left:40%;
    margin-left: auto;
    margin-right: auto;

}

/*  ------ Slides --------- */
.slide1{
    position:relative;
    top:50px;
    background-color:#c3e6fa;
    width:100%;
    height: 100vh;
}

.slide2{
    position:relative;
    background-image: linear-gradient(to bottom, #c3e6fa, #c3e6fa 50%, #ebebeb 50%, #ebebeb);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 100vh;
}

.slide3{
    position:relative;
    background-color: #ebebeb;
    width:100%;
    height: 110vh;
}

.slide4{
    position:relative;
    width:100%;
    height: 100vh;
}

.slide5{
    position:relative;
    background-color:#c3e6fa;
    width:100%;
    height: 100vh;
}

.box{
    position:relative;
    background-color: white;
    width: 100%;
    height: 70vh;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.resize_ipad{
    position:relative;
    left: 75px;
    bottom: 0px;
    width: 30vw;
    height:auto;
}


.link-1:hover {
  color: black;
  text-decoration: none;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 6px 0;
}

.link-1 {
    text-decoration:none;
  transition: 0.3s ease;
  color: black;
  padding: 20px 0;
  margin: 0 20px;
}


@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 550px) {

}

/* --------------  pads ---------- */
.pads {
    padding: 40px;
}

.pads-tall{
    padding: 150px 40px 0px;
}

.pads-landing{
    padding: 10vh 40px 0px;
}

.pads-med{
    padding: 100px 40px 0px;
}

.pads-vert {
    padding: 15px 40px;
}

.pads-long {
    padding: 30px 50px;
}

.image{
    border:solid 2px;
    border-bottom-color:#ffe;
    border-left-color:#eed;
    border-right-color:#eed;
    border-top-color:#ccb;
    max-height:100%;
    max-width:100%;
}


.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 8vw;
  height:60vh;
  width: 50vh;
  padding:8vmin;
  position:absolute;
  text-align:center;
}


/* --------------  fonts ---------- */
@font-face {
font-family: Raleway-SemiBold;
src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
font-family: Raleway;
src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
font-family: Raleway-Light;
src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
font-family: CormorantGaramond-Regular;
src: url(../fonts/CormorantGaramond-Regular.ttf);
}

.modern-lite{
    color:white;
    font-family: 'Raleway-Light';
}

.modern-lite-black{
    color:black;
    font-family: 'Raleway-Light';
}

.modern-black{
    color:black;
    font-family: 'Raleway';
}

.modern-black-bold{
    color:black;
    font-family: 'Raleway-SemiBold';
}


.logo_font, .logo_font:hover{
    text-decoration: none;
    font-size: 30px;
    color:black;
    font-family: 'CormorantGaramond-Regular';
}
