

body, html {
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  height: 100%
}

.header{
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.header.active {
    animation: reduce .5s normal forwards ease-in-out;
}

.header.active .navbar-nav{
    display:none;
}

@keyframes reduce {
    0%   {width: 100%;}
    100% {width: 8%;}
}


.overlay{
    width:100%;
    height:100%
}

.button {
    background-color: white;
    outline:none;
    border: 1px solid black;
    border-radius: 10px;
    width:150px;
    height:45px;
    padding:5px;

}

button:focus { outline:0 !important; }

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.center{
    position:absolute;
    left:40%;
    margin-left: auto;
    margin-right: auto;

}



/*  ------ Slides --------- */

.imgs{
    width:200px;
    height:200px;
    margin:0px auto 40px;
    display:block;

}


.aritst_info{
    position:relative;
    top:60px;
    background-color:white;
    width:100%;
    height: 100vh;
}

.artist_info_1{
    position:relative;
    background-color:white;
    width:100%;
    height: 100vh;
}

.art_info_logos{
    width:100px;
    display:block;
    margin:auto
}

.color_change{
    animation: example 10s infinite;
    animation-direction: alternate;
}

.carousel-item{
    height:70vh;
}
.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px black;
}
.carousel-indicators .active {
    box-shadow: inset 1px 1px 1px 1px #FFBB00;
}

.see_more{
    width:30%;
    padding:10px;
    border:4px solid black;
    color:white;
    border-radius: 25px;
    cursor: pointer;
    margin:auto;
    display:block
}

.see_more:hover{
    cursor: pointer;
    background-color: #FB6542;
}




@keyframes example {
    0%   {background-color: #FFBB00;}
    25%  {background-color: #FB6542;}
    50%  {background-color: #375E97;}
    100% {background-color: #3F681C;}
}

.slide1{
    position:relative;
    top:50px;
    background-color:#FFFFF0;
    width:100%;
    height: 100vh;
}

.slide2{
    position:relative;
    background-image: linear-gradient(to bottom, #FFFFF0, #FFFFF0 50%, #375E97 50%, #375E97);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 100vh;
}

.slide3{
    position:relative;
    background-color: #375E97;
    width:100%;
    height: 110vh;
}

.slide4{
    position:relative;
    width:100%;
    height: 100vh;
}

.slide5{
    position:relative;
    background-color:#FFFFF0;
    width:100%;
    height: 70vh;
}


.box{
    position:relative;
    background-color: white;
    width: 100%;
    height: 70vh;
    border-radius: 25px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.resize_ipad{
    position:relative;
    left: 75px;
    bottom: 0px;
    width: 30vw;
    height:auto;
}


.link-1:hover {
  color: black;
  text-decoration: none;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 6px 0;
}

.link-1 {
    text-decoration:none;
  transition: 0.3s ease;
  color: black;
  padding: 20px 0;
  margin: 0 20px;
}


@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 550px) {

}

/* --------------  pads ---------- */
.pads {
    padding: 40px;
}

.pads_header{
    padding: 20px
}

.pads-tall{
    padding: 150px 40px 0px;
}

.pads-landing{
    padding: 13vh 40px 0px;
}

.pads-med{
    padding: 100px 40px 0px;
}

.pads-vert {
    padding: 15px 40px;
}

.pads-only-vert-large{
    padding: 50px 0px;
}

.pads-only-vert-small{
    padding: 20px 0px;
}

.pads-long {
    padding: 30px 50px;
}

.pads-long-horz{
    padding: 20px 50px 0px;
}

.image{
    border:solid 2px;
    border-bottom-color:#ffe;
    border-left-color:#eed;
    border-right-color:#eed;
    border-top-color:#ccb;
    max-height:100%;
    max-width:100%;
}


.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 8vw;
  height:60vh;
  width: 50vh;
  padding:8vmin;
  position:absolute;
  text-align:center;
}


/* --------------  fonts ---------- */
@font-face {
font-family: Raleway-SemiBold;
src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
font-family: Raleway;
src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
font-family: Raleway-Light;
src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
font-family: CormorantGaramond-Regular;
src: url(../fonts/CormorantGaramond-Regular.ttf);
}

.modern-lite{
    color:white;
    font-family: 'Raleway-Light';
}

.modern-lite-black{
    color:black;
    font-family: 'Raleway-Light';
}

.nav-link {color: black;}
.nav-link:hover {color: white;}

.modern-black{
    color:black;
    font-family: 'Raleway';
}

.modern-black-bold{
    color:black;
    font-family: 'Raleway-SemiBold';
}

.old-black{
    color:black;
    font-family: 'CormorantGaramond-Regular';

}

.logo_font, .logo_font:hover{
    text-decoration: none;
    font-size: 30px;
    color:black;
    font-family: 'CormorantGaramond-Regular';
}
