<div class='container-fluid aritst_info'>
    <div class="row h-100">
        <div class="col-6 pads-only-vert-small color_change" data-aos="fade-right">
            <h1 class='modern-black-bold color_change' style='font-size:140px;color:white'> Your Art lives on Gallery.</h1>
        </div>
        <div class='col-6 pads-only-vert-small' data-aos="fade-left">
            <div id='carousel' class="carousel slide"  data-ride="carousel" >
              <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner modern-black" style='border-radius:25px' >
                <div class="carousel-item active">
                    <h2 class=' pads_header'>
                        An Exciting New Medium
                    </h2>
                    <img class='art_info_logos' src='https://image.flaticon.com/icons/svg/293/293591.svg' />
                    <div class=' pads_header'>
                        Creating digital artwork offers you a whole new world of creative possibilities. Experiment with light, color, motion like you’ve never been able to before, and realize your potential by taking advantage of all the amazing kinds of crypto paintings that can be created.
                    </div>
                </div>
                <div class="carousel-item" >
                    <h2 class=' pads_header'>
                        Get Properly Rewarded
                    </h2>
                    <img class='art_info_logos' src='https://image.flaticon.com/icons/svg/189/189093.svg' />
                    <div class='pads_header'>
                        Anyone someone buys a piece of your art, you get a piece of the transaction. Think of it like a royalty that you embed into your creation that cannot be removed. As people recognize your talent, you’ll be rewarded continuously - which is what you deserve.
                    </div>
                </div>
                <div class="carousel-item" >
                    <h2 class=' pads_header'>
                        10,000 Years
                    </h2>
                    <img class='art_info_logos' src='http://icons.iconarchive.com/icons/iconsmind/outline/256/Old-Clock-icon.png' />
                    <div class='pads_header'>
                        Even the best conservationists can’t fight the laws of physics. Statue, paintings tapestries - all of them are fading and growing further from what the artist intended with each passing year. It’s nobodies fault - we just didn’t have a way to prevent it before. But now, thats changed. Crypto Paintings will never fade, never chip and never wear down. 100,000 years from now people will still be enjoying your art exactly the way you intended it.
                    </div>
                </div>

              </div>
            </div>
            <button class='see_more color_change' data-aos="fade-up" data-aos-offset='0' onClick="document.getElementById('middle').scrollIntoView({behavior:'smooth'});" class='btn'> Apply Now</button>
        </div>
    </div>
</div>
