<div class='container-fluid slide4' >
    <div class="row" >
        <div class="offset-5 col-6 mr-auto" >
            <div class="row" >
                <div class='pads-med modern-black-bold' >
                    <h1> Smart Canvas </h1>
                </div>
            </div>
            <div class="row" >
                <div class='pads-med modern-black' >
                    <h5> blockchain blockchain blockchain </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style='position:absolute;bottom:0' >
        <div class="col-6" >
            <img data-aos="slide-up" data-aos-delay="600" data-aos-duration="2000" class='resize_ipad' src="{{url_for('static', filename='images/ipad.png')}}" />
        </div>
    </div>
</div>
