<div class='container-fluid slide5 modern-black-bold' >
    <div class="row justify-content-center">
        <div class="col-5 text-center pads-only-vert-large">
            <h1> Get Started Today </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center pads-only-vert-small">
            <button class='button' onclick="window.location.href='http://www.saahith.com'"> For Collectors </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center pads-only-vert-small">
            <button class='button' onclick="window.location.href='http://www.saahith.com'"> For Artists </button>
        </div>
    </div>
</div>
