<div class='container-fluid slide1'>
    <div class="row h-100">
        <div class="col-6">
            <div class="row">
                <div class="col-12" >
                    <div class='pads-landing modern-black-bold'>
                        <h1 style='color:#FFBB00' data-aos="fade-left"> Unique </h1>
                        <h1 style='color:#FB6542' data-aos="fade-right"> Artistic </h1>
                        <h1 style='color:#375E97;font-size:60px' data-aos="fade-left"> Expression </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" >
                    <div class='pads-vert modern-black'>
                        <h5> Get started collecting Crypto Paintings on Gallery.</h5>
                        <h5> Powered by the Ethereum Blockchain. </h5>
                    </div>
                </div>
            </div>
            <div class="row modern-black-bold">
                <div class="col-4" >
                    <div class='pads-vert'>
                        <button class='button' onclick="window.location.href='http://www.saahith.com'"> For Collectors </button>
                    </div>
                </div>
                <div class="col-4" >
                    <div class='pads-vert'>
                        <button class='button' onclick="window.location.href='/artistinfo'"> For Artists </button>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-6'>
            <!-- <div class='row h-100 w-100'> -->
                <img style='padding: 150px 0px; width:500px;height:200' src="{{url_for('static', filename='images/logo.png')}}" />
                <!-- <div class='col-4'  style='background-color:#FFBB00'>

                </div>
                <div class='col-4'  style='background-color:#FB6542'>

                </div>
                <div class='col-4'  style='background-color:#375E97'>

                </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>
