<div class='container-fluid slide2'>
    <div class="row h-100">
        <div class="col-11 mx-auto my-auto">
            <div class='box' data-aos="fade-down">
            <!-- <div class="box" data-stellar-ratio=".70"> -->
                <div class='row'>
                    <div class='col-12'>
                        <div class='row pads-long-horz modern-black '>
                            <h1> What is Gallery? </h1>
                        </div>
                    </div>
                </div>
                <div class='row pads modern-black' style='text-align:center'>
                    <div class='col-4'>
                            <img class='imgs' src='https://image.flaticon.com/icons/svg/217/217875.svg'>                            <div> The first platform that allows you to truly own a unique and secure piece of digital art</div>
                    </div>
                    <div class='col-4'>
                            <img class='imgs' src='https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/market_stand.png'>
                            <div> A marketplace designed to empower and enable Artists  </div>
                    </div>
                    <div class='col-4'>
                            <img class='imgs' src='https://res.cloudinary.com/teepublic/image/private/s--mPIvCCqe--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1503646856/production/designs/1849798_1.jpg'>
                            <div> Backed by the Ethereum Network </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
