<div class='container-fluid slide2'>
    <div class="row h-100">
        <div class="col-11 mx-auto my-auto">
            <div class='box' data-aos="fade-down">
            <!-- <div class="box" data-stellar-ratio=".70"> -->
                <div class='row'>
                    <div class='col-7'>
                        <div class='row pads-long modern-black-bold '>
                            <h1> What is Gallery? </h1>
                        </div>
                        <div class='row pads-long modern-black'>
                            <h4> Gallery is the first platform that allows you to truly own a unique and secure piece of digital art. Through a blockchain backed Non Fungible Token, you become the exclusive owner of a one of a kind work of art.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
