<div class='container-fluid slide1'>
    <div class="row">
        <div class="col-6" >
            <div class='pads modern-black-bold'>
                <h1> Unique </h1>
                <h1> Artistic </h1>
                <h1> Expression </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" >
            <div class='pads-vert'>
                <h5 class='modern-black'> Get started collecting Crypto Paintings on Gallery. Powered by the Ethereum Blockchain. </h5>
            </div>
        </div>
    </div>
    <div class="row modern-black-bold">
        <div class="col-2" >
            <div class='pads-vert'>
                <button class='button'> For Collectors </button>
            </div>
        </div>
        <div class="col-2" >
            <div class='pads-vert'>
                <button class='button'> For Artists </button>
            </div>
        </div>
    </div>
</div>
