{% extends '_base.html' %}

{% block content %}

{% include 'user/slides/artist_info1.html' %}


<div class='container-fluid artist_info_1' id='middle'>
    <div class='row pads-med'>
        <h1  class = "modern"> Join Today </h1>
    </div>
    <div class='row pads'>
        <div class='col-6 mx-auto'>
            <form class="forms modern" role="form" method="POST" action="/artistinfo">
                {{ form.csrf_token }}
                {{ form.hidden_tag()}}
                <div class="form-group">
                    {{ form.name(class="form-control", placeholder="name")}}
                </div>
                <div class="form-group">
                    {{ form.email(class="form-control", placeholder="email", type='email')}}
                </div>
                <div class="form-group">
                    {{ form.password(class="form-control" , placeholder="password", type="password")}}
                </div>
                <div class="form-group">
                    {{ form.confirm(class="form-control" , placeholder="confirm password", type="password")}}
                </div>
                <div class="form-group">
                    {{ form.link(class="form-control" , placeholder="link", type="text")}}
                </div>
                <div class="form-group">
                    <button type="button submit" class="btn btn-light">Submit</button>
                </div>
            </form>
            <!-- <form class="form-group" role="form" method="POST" action="/artistinfo" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.hidden_tag()}}

                {{ form.name(placeholder="name") }}

                {{ form.email(placeholder="email") }}

                {{ form.password(placeholder="password") }}

                {{ form.link(placeholder="link") }}

                {{ form.submit }}

            </form> -->
        </div>
    </div>
</div>






{% endblock content %}
