{% extends '_base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/form.css')}}">

{% include 'user/slides/artist_info1.html' %}


<div class='container-fluid artist_info_1' id='middle'>
    <div class='row pads-med'>
        <h1  class = "modern"> Apply for a Residency </h1>
    </div>
    <div class='row pads'>
        <div class='col-6 mx-auto'>
            <form class="forms" role="form" method="POST" action="/artistinfo" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.hidden_tag()}}

                {{ form.name(placeholder="name") }}

                {{ form.email(id="email" , placeholder="email") }}

                {{ form.bio(id="message" , placeholder="Bio") }}

                <label class='test' for="background_photo">A Piece of Work</label>
                {{ form.background_photo() }}

                <input id="submit" type="submit" value="GO!">
            </form>
        </div>
    </div>
</div>





{% endblock content %}
